<!-- start banner Area -->
<section class="about-banner">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    HAKKIMIZDA
                </h1>
                <p class="text-white link-nav"><a href="/">Anasayfa </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> Hakkımızda</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start home-about Area -->
@Html.Partial("HakkimizdaPartial")
<!-- End home-about Area -->
<!-- Start timeline Area -->
<section class="timeline pb-120">
    <div class="text-center">
        <div class="menu-content pb-70">
            <div class="title text-center">
                <h1 class="mb-10">Başarımlar</h1>
                <p>"Meslek hayatım ile alakalı bir kaç detay"</p>
            </div>
        </div>
    </div>
    <ul>
        <li>
            <div class="content">
                <h4>
                    <time>Piri Reis Üniversitesi - Bilgisayar Programcılığı</time>
                </h4>
                <p><b>Dönem:</b> 2018 - Günümüz</p>
            </div>
        </li>
        <li>
            <div class="content">
                <h4>
                    <time>Conduent</time>
                </h4>
                <p><b>Dönem</b> 2017-2018</p>
                <p><b>Pozisyon:</b> Senior Advisor</p>
            </div>
        </li>
        <li>
            <div class="content">
                <h4>
                    <time>Alpaslan Aluminyum</time>
                </h4>
                <p><b>Dönem</b> 2013</p>
                <p><b>Pozisyon:</b> Kurucu Ortak / Founder</p>
            </div>
        </li>
        <li>
            <div class="content">
                <h4>
                    <time>GATEM Lisesi Endsütriyel Otomasyon Teknolojileri Mezunu</time>
                </h4>
                <p><b>Dönem:</b> 2013</p>
            </div>
        </li>
    </ul>
</section>

<!-- End timeline Area -->	