<!-- start banner Area -->
<section class="about-banner">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    HİZMETLERİMİZ
                </h1>
                <p class="text-white link-nav"><a href="index.html">Anasayfa </a>  <span class="lnr lnr-arrow-right"></span>  <a href="services.html"> Hizmetlerimiz</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start services Area -->
@Html.Partial("HizmetlerimizPartial")
<!-- End services Area -->
<!-- Start price Area -->
@Html.Partial("FiyatlarimizPartial")
<!-- End price Area -->						