<!-- Start price Area -->
<section class="price-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Size en uygun tarifeyi seçin !</h1>
                    <p>İster seçenekler arasından size en uygun tarifeyi seçin, isterseniz bizimle <a>iletişim</a> kurun beraber seçelim. Başından sonuna kadar sizinleyiz !</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 single-price">
                <div class="top-part">
                    <h1 class="package-no">01</h1>
                    <h4>Ekonomik</h4>
                    <p class="mt-10">Tek sayfalık portföy</p>
                </div>
                <div class="package-list">
                    <ul>
                        <li>Size özel tasarım</li>
                        <li>Mobil Uyumluluk(Tablet ve Telefonlarınızda kusursuz görünüm)</li>
                        <li>Danışmanlık hizmeti</li>
                    </ul>
                </div>
                <div class="bottom-part">
                    <h1>699 TL</h1>
                    <a class="price-btn text-uppercase" href="/iletisim">İLETİŞİM</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single-price">
                <div class="top-part">
                    <h1 class="package-no">02</h1>
                    <h4>Kurumsal</h4>
                    <p class="mt-10">Profesyonellere özel </p>
                </div>
                <div class="package-list">
                    <ul>
                        <li>10 Sayfaya kadar ticari ve özel tasarım</li>
                        <li>Mobil Uyumluluk(Tablet ve Telefonlarınızda kusursuz görünüm)</li>
                        <li>1 Senelik hosting hizmeti</li>
                        <li>Danışmanlık Hizmeti</li>
                    </ul>
                </div>
                <div class="bottom-part">
                    <h1>1499 TL</h1>
                    <a class="price-btn text-uppercase" href="/iletisim">İLETİŞİM</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single-price">
                <div class="top-part">
                    <h1 class="package-no">03</h1>
                    <h4>E-Ticaret</h4>
                    <p class="mt-10 p">Online satışlar için</p>
                </div>
                <div class="package-list">
                    <ul>
                        <li>20 Sayfaya kadar özel tasarım</li>
                        <li>Mobil Uyumluluk(Tablet ve Telefonlarınızda kusursuz görünüm)</li>
                        <li>SEO Optimizasyonu (Arama motorlarında en önde çıkın!)</li>
                        <li>1 Senelik hosting hizmeti</li>
                        <li>SSL Sertifikası</li>
                        <li>Online POS Entegrasyonu</li>
                        <li>Danışmanlık Hizmeti</li>
                    </ul>
                </div>
                <div class="bottom-part">
                    <h1>3499 TL</h1>
                    <a class="price-btn text-uppercase" href="/iletisim">İLETİŞİM</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End price Area -->						