<!-- Start about Area -->
<section class="home-about-area p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 home-about-left">
                <img class="img-fluid" src="~/Resources/img/about-img.png" alt="">
            </div>
            <div class="col-lg-5 col-md-6 home-about-right">
                <h6>Hakkımda</h6>
                <h1 class="text-uppercase">KİŞİSEL DETAYLAR</h1>
                <p>
                    <span class="ml-10">Bilgisayarlarla</span> uğraşmayı ve programlamayı 11 yaşımda ilk bilgisayarımla tanıştığım gün meslek edineceğim belliydi bile. Kodlamayı sadece bir sorumluluk değil puzzle veya lego yapmak gibi sonunu getirmeden rahatlayamayacağım ve sonunu getirdikçe de başına dönmek istediğim bir dürtü olarak gördüm.<br><br>Şuan da aşk yaşadığım bu meslekle ilişkimi resmiyete vurmak adına Piri Reis Üniversitesinde okuyorum. Bitirdiğim ve referans edindiğim onlarca proje ile siz değerli müşterilerime en iyi hizmeti sunmak için buradayım.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End about Area -->
