<!-- Start services Area -->
<<<<<<< HEAD
<section class="services-area section-gap">
=======
<section class="services-area p-5">
>>>>>>> e2dab80... added some css features
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content  col-lg-7">
                <div class="title text-center">
                    <h1 class="mb-10">Size sunduğumuz hizmetler</h1>
                    <p>Her işin bir erbabı vardır. İşiniz bilişimse, doğru yerdesiniz!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-pie-chart"></span>
                    <a href="#"><h4>Web Tasarım</h4></a>
                    <p>
                        İster kurumsal, ister kişisel web sitelerinizi, ister fikirlerinizi yansıtarak, ister fikirler vererek mümkün olan en iyi tasarımı sizlere sağlıyoruz. Hayallerinizi kodluyoruz !
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-laptop-phone"></span>
                    <a href="#"><h4>Web Geliştirme</h4></a>
                    <p>
                        İşimiz, işinizi kolaylaştırmak. Web siteleriniz veya web tabanlı uygulamalarınızın arkasında yatan tüm algoritmayı sisteminizi en az yoracak şekilde optimize ederek kuruyoruz. Daha az yorulan sistemler de günün sonunda sizlere her zaman daha iyi bir kullanıcı deneyimi ve daha az maliyet olarak geri dönüyor.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-camera"></span>
                    <a href="#"><h4>Ürün Fotoğrafçılığı</h4></a>
                    <p>
                        Ürünlerinizin kullanıcılarla buluştuğu en önemli nokta, onları gördükleri andır. Ürünlerinizi dünya standartlarında ve alışılmışın dışında fotoğraflıyıp kendinizi en iyi şekilde ifade etmenizi sağlıyoruz.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-picture"></span>
                    <a href="#"><h4>Logo Tasarım</h4></a>
                    <p>
                        Firma veya ürünlerinizin logoları için iş ortağımız olan psikoloji uzmanlarımızdan destek alarak projenizle alakalı göze en çok hitap edecek renkleri bir araya getirip sizlere en özgün tasarımları sunuyoruz!
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-tablet"></span>
                    <a href="#"><h4>Uygulama Arayüz</h4></a>
                    <p>
                        Projelerinizle alakalı ister size ait yönetim panelleri, ister kendi kullanıcılarınıza sunmak istediğiniz arayüzleri en trend tasarım teknolojileriyle buluşturuyoruz.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End services Area -->
