<!-- start banner Area -->
<section class="banner-area" id="page-sec-1">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 banner-left">
                <h1>MERT KARACA</h1>
                <p>
                    Merhaba ! Aşağılara indikçe gülümsememin ardında yatan profesyonelliği keşfediceksiniz. Benimle çalışmaya başladığınızda ayrıcalığın anlamını pekiştireceksiniz. Aklınızdaki müthiş projeyi hayata geçirdiğimizde ise yenisini üretmek için sabırsızlanacaksınız !
                </p>
                <a href="/hizmetlerimiz" class="primary-btn text-uppercase">ŞİMDİ KEŞFEDİN</a>
            </div>
            <div class="col-lg-6 col-md-6 banner-right-new d-flex align-self-end">
                <img class="img-fluid" src="~/Resources/img/hero-img.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start home-about Area -->
@Html.Partial("HakkimizdaPartial")
<!-- End home-about Area -->
<!-- Start services Area -->
@Html.Partial("HizmetlerimizPartial")
<!-- End services Area -->
<!-- Start price Area -->
@Html.Partial("FiyatlarimizPartial")
<!-- End price Area -->	