<!-- start banner Area -->
<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    İLETİŞİM
                </h1>
                <p class="text-white link-nav"><a href="index.html">Anasayfa </a>  <span class="lnr lnr-arrow-right"></span>  <a href="contact.html"> İletişim</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start contact-page Area -->
@Html.Partial("IletisimPartial")
<!-- End contact-page Area -->